.frontphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    object-fit: cover;
    width: 100%;
    height: 90vh;
    // -webkit-gradient(linear,left, 
    // from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.container {
    position: relative;
    // text-align: center;
}

.container2 {
    z-index: 10;
    position: absolute;
    top: 10vh;
    left: 15vw;
    width: 70vw;
}

.slogan {
    top: 8px;
    left: 16px;
    font-size: 2em;
    font-weight: bold;
}

.slogan-two {
    font-family: 'Chara Serif';
    font-size: 3em;
}

.description {
    font-weight: bold;
    font-size: 1em;
}

.autocomplete-thumbnail {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.email-input {
    background-color: white;
    border: 2px solid #AEAEAE;
    opacity: 0.8;
    color: black;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    border-radius: 2px;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

.email-submit-button {
    margin: auto;
    position: relative;
    border-radius: 2px;
    box-shadow: 3px 3px #F9FBBD;
    background-color: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

