<!-- <app-pwa-nav-bar></app-pwa-nav-bar> -->

<ion-content>

  <!-- Maybe you could use ion grid for aligning the pictures and the autocomplete -->
  <div>
    <div class="container">


      <div class="container2">
        <h1 class="slogan" align="center">Coming Soon!</h1>
        <h2 class="description" align="center">Enter a valid email address below to get notified when the website is launched.</h2>
        <div padding class="input" align="center">
          <ion-input padding placeholder="Please enter a valid email address" class="email-input" align="center"></ion-input>
          <ion-button padding class="email-submit-button">Submit</ion-button>
        </div>
        <!--<ion-grid>
          <ion-row>
            <ion-col>
             
              <ng-template #withCampPics let-attrs="attrs">
               
                <div [routerLink]="['/camp-info', attrs.data.id]" style="width: 70vw">
                  <img src="{{attrs.data.pictures[0]}}" class="autocomplete-thumbnail" />
                  <span [innerHTML]="attrs.data.name | boldprefix:attrs.keyword"></span>
                </div>
              </ng-template>
              <ion-auto-complete [options]="{ placeholder : 'Explore camps' }" #textSearch class="explorecamps"
                [dataProvider]="campSearchService" [template]="withCampPics">
              </ion-auto-complete>
            </ion-col>
            <ion-col>
              <ion-auto-complete [options]="{ placeholder : 'Your location' }"
                (itemSelected)="onLocationSelected($event)" [dataProvider]="mapboxService" class="explorelocation">
              </ion-auto-complete>
            </ion-col>
          </ion-row>
          <ion-button (click)="searchCamps()" [disabled]="!place">Search</ion-button>
        </ion-grid>-->
      </div>
    </div>
    <img class="frontphoto" src="assets/frontphoto.jpg">
  </div>

  <!-- <div *ngIf="!environmentSetting">
    <p>Environment Production: {{environmentSetting}}</p>
    <p>Environment Version: {{environmentVersion}}</p>
  </div> -->

</ion-content>

<ion-footer>
  <app-pwa-nav-footer></app-pwa-nav-footer>
</ion-footer>