.frontphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    object-fit: cover;
    width: 100%;
    height: 80vh;
    // -webkit-gradient(linear,left, 
    // from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.container {
    position: relative;
    //text-align: center;
}

.container2 {
    z-index: 10;
    position: absolute;
    top: 11vw;
    left: 15vw;
    width: 70vw;
}

ion-auto-complete {
    display: block;
    width: 70vw;

    ul {
        display: block;
        width: 100%;
    }
}

// ion-auto-complete {
//     margin-left: auto;
//     margin-right: auto;
//     width: 70vw;
// }

ul {
    width: 70vw;
}

.slogan {
    top: 8px;
    left: 16px;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Helvetica Neue';
    src: url('/src/assets/fonts/HelveticaNeue\ and\ Helvetica/HelveticaNeue.ttf') format("truetype");
    // font-weight: 00;
    font-style: normal;
}

.description {
    font-family: 'Albra', sans-serif;
    src: url('/assets/fonts/Albra-Font-Family/Albra\ Regular.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
    font-size: 3em;
}

.autocomplete-thumbnail {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;

}

ion-auto-complete {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.705);
    opacity: 0.9;
    color: black;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    // height: 50%;
    border-radius: 2px;
    // margin-top: 1em;
    // margin-bottom: 1em;

}

.col-center {
    text-align: center;
}

.trail-rec {
    position: relative;
    float: left;
    width: 90%;
    height: 20vw;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    object-fit: cover;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(248, 195, 157, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(248, 195, 157, 1);
    box-shadow: 10px 10px 5px 0px rgba(248, 195, 157, 1);
    margin-left: auto;
    margin-right: auto;
}

p {
    position: relative;
    display: inline-block;
    bottom: 0.3em;
    // margin-left: auto;
    // margin-right: auto;
    text-align: center;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.rec-heading {
    font-family: 'Albra Black';
    font-weight: 1000;
    text-align: center;
    position: relative;
    width: 100%;
}

.recs {
    font-family: 'Albra Black';
    text-align: center;
    position: relative;
    width: 100%;
}