<app-pwa-nav-bar></app-pwa-nav-bar>

<ion-content>

  <!-- Maybe you could use ion grid for aligning the pictures and the autocomplete -->
  <div>
    <div class="container">
      <div class="container2">
          <h2 align="center"class="slogan">Discover, experience and rate horse camps and trails</h2>
          <h1 align="center"class="description">Adventure is out there.</h1>
        <ion-grid>
          <ion-row justify-content-end>
            <ion-col size-lg="5" size="12" size-sm>
              <!-- Template for image -->
              <ng-template #withCampPics let-attrs="attrs">
                <div [routerLink]="attrs.data.navigateTo">
                  <span style="font-weight: bold" *ngIf="attrs.data.isDefault" [innerHTML]="attrs.data.name | boldprefix:attrs.keyword"></span>
                  <span *ngIf="!attrs.data.isDefault" [innerHTML]="attrs.data.name | boldprefix:attrs.keyword"></span>
                  <!-- <img src="{{attrs.data.pictures[0]}}" class="autocomplete-thumbnail" /> -->
                </div>
              </ng-template>
              <ion-auto-complete [options]="{ placeholder: 'Enter camp or trail name' }" #textSearch class="explorecamps"
                [dataProvider]="campSearchService" (itemSelected)="onCampSelected($event)" [template]="withCampPics">
              </ion-auto-complete>

            </ion-col>
            <ion-col size-lg="5" size="12" size-sm>
              <ion-auto-complete [options]="{ placeholder : 'Your location' }" (itemSelected)="onLocationSelected($event)" [dataProvider]="mapboxService"
                class="explorelocation" #locationSearchBar>
              </ion-auto-complete>
            </ion-col>
            <ion-col size-lg="1" size="12" size-sm>
              <ion-button (click)="searchCamps()">Search</ion-button>
            </ion-col>
          </ion-row>
         
        </ion-grid>
      </div>
    </div>
    <img class="frontphoto" src="assets/frontphoto.jpg">
  </div>

  <!-- <div *ngIf="!environmentSetting">
    <p>Environment Production: {{environmentSetting}}</p>
    <p>Environment Version: {{environmentVersion}}</p>
  </div> -->
  <ion-grid padding>
    <ion-row>
      <h1>Camps</h1>
    </ion-row>
    <ion-row>
      <h2>Recommended for you.</h2>
    </ion-row>
  </ion-grid>

</ion-content>

<app-pwa-nav-footer></app-pwa-nav-footer>