<ion-content no-bounce>
  <ion-header></ion-header>

  <!-- Maybe you could use ion grid for aligning the pictures and the autocomplete -->
  <div>
    <div class="container">
      <div class="container2">
        <h1 align="center" *ngIf="!isMobile" class="description white-outline-text">Adventure is out there.</h1>
        <!-- <h2 align="center" class="slogan white-outline-text">Discover, experience and rate horse camps and trails</h2> -->
        <ion-grid>
          <ion-row justify-content-end>
            <ion-col size-lg="5" size="12" size-sm>
              <!-- Template for image -->
              <ng-template #withCampPics let-attrs="attrs">
                <div [routerLink]="attrs.data.navigateTo">
                  <span style="font-weight: bold" *ngIf="attrs.data.isDefault"
                    [innerHTML]="attrs.data.name | boldprefix:attrs.keyword"></span>
                  <span *ngIf="!attrs.data.isDefault" [innerHTML]="attrs.data.name | boldprefix:attrs.keyword"></span>
                  <!-- <img src="{{attrs.data.pictures[0]}}" class="autocomplete-thumbnail" /> -->
                </div>
              </ng-template>
              <ion-auto-complete [options]="{ placeholder: 'Enter camp or trail name' }" #textSearch
                class="explorecamps" [dataProvider]="campSearchService" (itemSelected)="onCampSelected($event)"
                [template]="withCampPics">
              </ion-auto-complete>

            </ion-col>
            <ion-col size-lg="5" size="12" size-sm>
              <ion-auto-complete [options]="{ placeholder : 'Your location' }"
                (itemSelected)="onLocationSelected($event)" [dataProvider]="mapboxService" class="explorelocation"
                #locationSearchBar>
              </ion-auto-complete>
            </ion-col>
            <ion-col size-lg="1" size="12" size-sm style="text-align: center;">
              <ion-button (click)="searchCamps()">Search</ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </div>
    <img class="frontphoto" *ngIf="!isMobile" src="assets/frontphoto.jpg">
    <!-- <img class="frontphoto" *ngIf="isMobile" src="assets/frontphoto-mobile.jpg"> -->
  </div>

  <ion-grid padding>
    <h1 class="rec-heading">Explore.</h1>
    <ion-card class="map-card">
      <app-mapboxgl-map [geoJsonData]="mapGeojsonData$ | async"></app-mapboxgl-map>
    </ion-card>
  </ion-grid>

  <ion-grid padding>
    <ion-row>
      <h1 class="rec-heading">Trails</h1>
    </ion-row>
    <ion-row>
      <h2 class="recs">Recommended for you.</h2>
    </ion-row>
    <ion-row>
      <ion-col size="4" *ngFor="let trail of threeTrails | async">
        <ion-row>
          <img class="trail-rec" [src]="trail.pictures[0]" [routerLink]="['/camp-info', trail.id]">
        </ion-row>
        <ion-row>
          <p>{{trail.name}}</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <h2 class="recs">Filter.</h2>
        <app-trail-search-form (submitForm)="onSearchTrails($event)"></app-trail-search-form>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-grid padding>
    <ion-row>
      <h1 class="rec-heading">Camps</h1>
    </ion-row>
    <ion-row>
      <h2 class="recs">Recommended for you.</h2>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="col-center" *ngFor="let camp of threeCamps | async">
        <ion-row>
          <img class="trail-rec" [src]="camp.pictures[0]" [routerLink]="['/camp-info', camp.id]">
        </ion-row>
        <ion-row>
          <p class="campName">{{camp.name}}</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <h2 class="recs">Filter.</h2>
        <app-camp-search-form (submitForm)="onSearchCamps($event)"></app-camp-search-form>
      </ion-col>
    </ion-row> -->
  </ion-grid>

</ion-content>

<app-pwa-nav-footer></app-pwa-nav-footer>