<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding>
    <p>If you cannot find a certain camp or trail, feel free to contact us at 
      <a href="mailto: highhorsedrifters@gmail.com"><b>highhorsedrifters@gmail.com</b></a>,
       or 
      submit the following form and we will get back to you!</p>
    <ion-button (click)="onSubmitNewCampRequest()">Request a new business</ion-button>
  </div>

</ion-content>

<app-pwa-nav-footer></app-pwa-nav-footer>