.title{
    font-family: 'Samsung Sharp Sans';
    font-weight: 800;
    color:#373838;
}
.author{
    font-family: 'Futura';
    font-weight: 590;
    color:#373838;
    font-size: 2em;
    margin-bottom: 0.3em;
}
.date{
    font-family: 'Futura';
    font-weight: 400;
    color:#373838;
    font-size: 1.3em;
    margin-bottom: 0.3em;

}
.description{
    color: #373838;
    font-size: 1.4em;
}