ion-card {
    border: 0.09em solid #8888;
    -webkit-box-shadow: 10px 10px 22px 0px rgba(179,177,179,0.49);
-moz-box-shadow: 10px 10px 22px 0px rgba(179,177,179,0.49);
box-shadow: 10px 10px 22px 0px rgba(179,177,179,0.49);
margin-top: 3em;
 }
 img {
    width: 50em;
    height: auto;
    vertical-align: middle;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 