<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size="6" size-sm *ngIf="!nameElementHidden">
        <ion-item>
          <ion-input placeholder="Name" formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-lg="4" size="6" size-sm>
        <ion-item>
          <ion-label>Difficulty</ion-label>
          <ion-select value="All" formControlName="difficulty">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="Easy">Easy</ion-select-option>
            <ion-select-option value="Intermediate">Intermediate</ion-select-option>
            <ion-select-option value="Extreme">Extreme</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-lg="4" size="6" size-sm>
        <ion-item>
          <ion-label>Water Crossings</ion-label>
          <ion-select formControlName="waterCrossings" value="All">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="Puddles">Puddles</ion-select-option>
            <ion-select-option value="Streams">Streams</ion-select-option>
            <ion-select-option value="Rivers">Rivers</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-lg="4" size="6" size-sm>
        <ion-item>
          <ion-label>Bridges</ion-label>
          <ion-select formControlName="bridges">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="High">High</ion-select-option>
            <ion-select-option value="Low">Low</ion-select-option>
            <ion-select-option value="Scary">Scary</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-lg="4" size="6" size-sm>
        <ion-item>
          <ion-label>Footing</ion-label>
          <ion-select formControlName="footing">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="Carriage">Carriage trails</ion-select-option>
            <ion-select-option value="Sandy">Sandy Loamy</ion-select-option>
            <ion-select-option value="Muddy">Muddy</ion-select-option>
            <ion-select-option value="Rocky">Rocky</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-lg="4" size="6" size-sm>
        <ion-item>
          <ion-label>Parking for Rigs</ion-label>
          <ion-select formControlName="parking">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="Plenty">Plenty</ion-select-option>
            <ion-select-option value="Limited">Limited</ion-select-option>
            <ion-select-option value="None">None</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <!-- <ion-col size-lg="4" size="6" size-sm></ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit">Search Trails</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>