<ion-header>
  <ion-toolbar>
    <ion-button slot="end" (click)="onCloseButton()">
      Close
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-label>This is a: </ion-label>
    <ion-select value="camp" [(ngModel)]="type">
      <ion-select-option value="camp">Camp</ion-select-option>
      <ion-select-option value="trail">Trail</ion-select-option>
    </ion-select>
  </ion-item>

  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3 *ngIf="!camp">Add New Business</h3>
            <h3 *ngIf="camp">Edit Business</h3>
          </div>
          <div padding>
          </div>
          <div padding>

            <ion-list>

              <ion-item>
                <ion-label>Name</ion-label>
                <ion-input formControlName="name" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Description</ion-label>
                <ion-textarea formControlName="description" type="text"></ion-textarea>
              </ion-item>

              <ion-item>
                <ion-label>URL</ion-label>
                <ion-input formControlName="url" type="url"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Picture URL</ion-label>
                <ion-input formControlName="pictureUrl" type="url"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Address</ion-label>
              </ion-item>
              <ion-auto-complete (itemSelected)="onLocationSelected($event)"
                [options]="{ placeholder : 'Enter address' }" [dataProvider]="mapboxService" #addressSearchbar>
              </ion-auto-complete>

              <ng-container *ngIf="type === 'camp'">

                <ion-item>
                  <ion-label>Big Rig Friendly</ion-label>
                  <ion-checkbox slot="end" formControlName="bigRigFriendly"></ion-checkbox>
                </ion-item>


                <ion-item>
                  <ion-label>Pet Friendly</ion-label>
                  <ion-checkbox slot="end" formControlName="petFriendly"></ion-checkbox>
                </ion-item>

                <ion-item>
                  <ion-label>Wifi</ion-label>
                  <ion-checkbox slot="end" formControlName="wifi"></ion-checkbox>
                </ion-item>
              </ng-container>

              <!-- Trail attributes -->
              <ng-container *ngIf="type === 'trail'">

                <ion-item>
                  <ion-label>Difficulty</ion-label>
                  <ion-select formControlName="difficulty">
                    <ion-select-option value="Easy">Easy</ion-select-option>
                    <ion-select-option value="Intermediate">Intermediate</ion-select-option>
                    <ion-select-option value="Extreme">Extreme</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label>Water Crossings</ion-label>
                  <ion-select formControlName="waterCrossings">
                    <ion-select-option value="Puddles">Puddles</ion-select-option>
                    <ion-select-option value="Streams">Streams</ion-select-option>
                    <ion-select-option value="Rivers">Rivers</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label>Parking for Rigs</ion-label>
                  <ion-select formControlName="parking">
                    <ion-select-option value="Plenty">Plenty</ion-select-option>
                    <ion-select-option value="Limited">Limited</ion-select-option>
                    <ion-select-option value="None">None</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label>Footing</ion-label>
                  <ion-select formControlName="footing">
                    <ion-select-option value="Carriage">Carriage trails</ion-select-option>
                    <ion-select-option value="Sandy">Sandy Loamy</ion-select-option>
                    <ion-select-option value="Muddy">Muddy</ion-select-option>
                    <ion-select-option value="Rocky">Rocky</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label>Bridges</ion-label>
                  <ion-select formControlName="bridges">
                    <ion-select-option value="High">High</ion-select-option>
                    <ion-select-option value="Low">Low</ion-select-option>
                    <ion-select-option value="Scary">Scary</ion-select-option>
                  </ion-select>
                </ion-item>

              </ng-container>
            </ion-list>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="myForm.invalid" expand="block">Submit</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>