<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-split-pane when="xs" contentId="menu-content">
    <!--  our side menu  -->
    <ion-menu contentId="menu-content">
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/admin/places/camps']">
              <ion-label class="side-pane-label">Camps</ion-label>
              <ion-icon name="bonfire" slot="start"></ion-icon>
            </ion-item>
            <ion-item [routerLink]="['/admin/places/trails']">
              <ion-label class="side-pane-label">Trails</ion-label>
              <ion-icon name="walk" slot="start"></ion-icon>
            </ion-item>
            <ion-item [routerLink]="['/admin/blog']">
              <ion-label class="side-pane-label">Blogs</ion-label>
              <ion-icon name="create" slot="start"></ion-icon>
            </ion-item>
            <ion-item [routerLink]="['/admin/reviews']">
              <ion-label class="side-pane-label">Reviews</ion-label>
              <ion-icon name="clipboard" slot="start"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

    </ion-menu>

    <!-- the main content -->
    <!-- <app-add-camp></app-add-camp> -->
    <ion-router-outlet style="margin-top: 10vh" id="menu-content"></ion-router-outlet>
  </ion-split-pane>

  <!-- <app-add-camp></app-add-camp> -->


</ion-content>