<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button (click)="addCamp()">
        1. Add new business
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="addEvent()" [disabled]="true">
        2. Add new event
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button [disabled]="true">
        3. Add new blog post
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>