<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button (click)="addCamp()">
        1. Add new camp
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="addTrail()">
        2. Add new trail
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="addEvent()">
        3. Add new event
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        4. Add new blog post
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>