.ion-col-review {
    align-content: flex-end;
}

.no-wrap {
    white-space: nowrap;
}

.overflow-clip {
    overflow: clip;
}

.avatar {
    width: 40%;
    border-radius: 50%;
}

ion-col {
    align-self: center;
}