<ng-container *ngIf="(readyToEdit | async)">
    <ng-container *ngIf="isAuth | async">
        <ion-list>
            <ng-container *ngIf="(isTrail | async) == false">
                <ion-item>
                    <ion-label>Facility Cleanliness</ion-label>
                    <ion-rating [rate]="campReviewToSubmit?.facilityCleanliness"></ion-rating>
                </ion-item>
                <ion-item>
                    <ion-label>Horse Facilities</ion-label>
                    <ion-rating [rate]="campReviewToSubmit?.horseFacilities"></ion-rating>
                </ion-item>
            </ng-container>
            <ion-item>
                <ion-label>Overall</ion-label>
                <ion-rating [rate]="reviewToSubmit?.rating" (rateChange)="onRateChange($event)"></ion-rating>
            </ion-item>
            <ion-textarea name="description" [(ngModel)]="reviewToSubmit.description"
                placeholder="Write your review here...">
            </ion-textarea>
        </ion-list>
        <ion-button (click)="onSubmit()">Submit</ion-button>
    </ng-container>

    <ng-container *ngIf="!(isAuth | async)">
        <p>Please <a (click)="onLoginButtonClick()" [routerLink]="['/login']">log in</a> to write a review.</p>
    </ng-container>

</ng-container>

<ng-container *ngIf="readyToView | async">
    <ion-grid>
        <ion-row>
            <ion-col size="3">
                <img class="avatar" [src]="(userData$ | async)?.photoUrl">
            </ion-col>
            <ion-col size="9">
                <ion-row>
                    <ion-col size="6" class="overflow-clip">
                        {{(userData$ | async)?.name}} &#183; {{review.dateTime | date: 'MMM y'}}
                    </ion-col>
                    <ion-col size="6" class="ion-col-review no-wrap">
                        <ion-rating [rate]="review.rating" readonly="true"></ion-rating>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-textarea name="description" readonly="true" [(ngModel)]="review.description">
                    </ion-textarea>
                </ion-row>
            </ion-col>

        </ion-row>
    </ion-grid>
</ng-container>