<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>Total {{title | async}}: {{(dataSource$ | async)?.length}}</ion-card>
      </ion-col>
      <ion-col>
        <ion-button (click)="onAddCampsButton()">Add {{title | async}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar [(ngModel)]="currQueries.name" (ionChange)="onAnySearchBarChange($event)" placeholder="Name"></ion-searchbar>
      </ion-col>
      <ion-col>
        <ion-searchbar [(ngModel)]="currQueries.address" (ionChange)="onAnySearchBarChange($event)" placeholder="Address"></ion-searchbar>
      </ion-col>
      <ion-col>
        <ion-searchbar [(ngModel)]="currQueries.city" (ionChange)="onAnySearchBarChange($event)" placeholder="City"></ion-searchbar>
      </ion-col>
      <ion-col>
        <ion-searchbar [(ngModel)]="currQueries.state" (ionChange)="onAnySearchBarChange($event)" placeholder="State"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let camp of dataSource$ | async | paginate: { itemsPerPage: 11, currentPage: p}">
      <ion-col>{{camp.name}}</ion-col>
      <ion-col>{{camp.address}}</ion-col>
      <ion-col>{{camp.city}}</ion-col>
      <ion-col>{{camp.state}}</ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col size="9">
        <pagination-controls (pageChange)="onPageChange($event)" *ngIf="dataSource$ | async"></pagination-controls>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
