@font-face {
    font-family: 'Albra';
    src: url('/assets/fonts/Albra-Font-Family/Albra\ Regular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Chara Serif';
    src: url('/assets/fonts/Chara\ Font/CharaSerif.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('/assets/fonts/Futura/FuturaPTLight.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('/assets/fonts/SamsungSharpSans/samsungsharpsans-bold.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/src/assets/fonts/HelveticaNeue\ and\ Helvetica/HelveticaNeue.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}