.author{
    left: 0;
    font-family: 'Futura';
    font-weight: 600;
}
.date{
    text-align: right;
    font-family: 'Futura';
    font-weight: 200;
    
}
.author,.date{
    display: inline;
    margin: 0;
    padding: 0;
    
}
.description{
    font-family: 'Helvetica Neue';
}
.title{
    font-family: 'Samsung Sharp Sans';
    font-weight: 800;
}