<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="title">{{(blog$ | async)?.title}}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <div padding style="clear: both">
      <ion-col>
        <p class="author" style="float: left">{{(userData$ | async)?.name}} /</p>
      </ion-col>
      <ion-col>
     <p class="date">{{(blog$ | async)?.dateTime | date: 'mediumDate'}}</p>
    </ion-col>
    </div>
    </ion-row>
    <ion-row>
      <img [src]="(blog$ | async)?.pictureUrl" style="max-height: 50vh;">
    </ion-row>
    <ion-row>
      <div class="description" style="font-family: Futura;" [innerHTML]="(blog$ | async)?.description"></div>
    </ion-row>
  </ion-grid>

</ion-content>

<app-pwa-nav-footer></app-pwa-nav-footer>