.logo{
    width: 120px;
}
ion-header{
    background-color: #99ccff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.signup{
    border-style: solid;
    border-width: 3px;
}
// .about{
//     background-color: #FFFF00
// }