<div *ngIf="isPwa">
  <ion-header>
    <ion-toolbar>
      <ion-title>Logo goes here</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/landing">Home</ion-button>
        <ion-button>About</ion-button>
        <ion-button>Trails</ion-button>
        <ion-button (click)="goToCamps()">Camps</ion-button>
        <ion-button>Help</ion-button>
        <ion-button (click)="openLoginModal()">Log in</ion-button>
        <ion-button (click)="openRegisterModal()">Sign up</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

</div>