<div *ngIf="isPwa">
  <ion-header no-border>
    <ion-toolbar>
      <a routerLink="">
        <img class="logo" src="assets/logo.png" padding>
      </a>
      <ion-buttons slot="end">
        <!-- <ion-button routerLink="/landing">Home</ion-button> -->
        <ion-button routerLink="/blog">Blog</ion-button>
        <ion-button routerLink="/admin" *ngIf="isAdmin | async">Admin</ion-button>
        <ion-button routerLink="/tabs/places/trails">Trails</ion-button>
        <ion-button routerLink="/tabs/places/camps">Camps</ion-button>
        <!-- <ion-button>Help</ion-button> -->

        <ng-container *ngIf="!(isAuthorized | async)">
          <ion-button routerLink="/login">Log in</ion-button>
          <ion-button routerLink="/register">Sign up</ion-button>
        </ng-container>
        <ng-container *ngIf="isAuthorized | async">
          <ion-button (click)="logOut()">Log out</ion-button>
        </ng-container>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet main id="main"></ion-router-outlet>
</div>

<div *ngIf="!isPwa">
  <ion-menu side="start" contentID="main" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Navigation</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item (click)="routeAndCloseMenu(['/landing'], 'Home')">Home</ion-item>
        <ion-item (click)="routeAndCloseMenu(['/blog'], 'Blogs')">Blogs</ion-item>
        <!-- <ion-item (click)="routeAndCloseMenu(['/admin'], 'Admin')" *ngIf="isAdmin | async">Admin</ion-item> -->

        <ion-item (click)="routeAndCloseMenu(['/tabs/places/trails'], 'Trails')">Trails</ion-item>
        <ion-item (click)="routeAndCloseMenu(['/tabs/places/camps'], 'Camps')">Camps</ion-item>

        <ng-container *ngIf="!(isAuthorized | async)">
          <ion-item (click)="routeAndCloseMenu(['/login'], 'Login') ">Log in</ion-item>
          <ion-item class="signup" (click)="routeAndCloseMenu(['/register'], 'Sign Up')">Sign up</ion-item>
        </ng-container>
        <ng-container *ngIf="isAuthorized | async">
          <ion-item (click)="logOut()">Log out</ion-item>
        </ng-container>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main id="main"></ion-router-outlet>

  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-toggle>
        <ion-button (click)="toggleMenu()">
          <ion-icon name="menu"></ion-icon>
          <ion-label>
            <!-- {{currPageName}} -->
          </ion-label>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

  </ion-toolbar>

</div>