<div>
  <ion-header no-border>
    <ion-toolbar>
      <a routerLink="">
        <img class="logo" src="assets/logo.png" padding>
      </a>
      <ion-buttons slot="end">
        <!-- <ion-button routerLink="/landing">Home</ion-button> -->
        <ion-button routerLink="/blog">Blog</ion-button>
        <ion-button routerLink="/admin" *ngIf="isAdmin | async">Admin</ion-button>
        <ion-button routerLink="/tabs/places/trails">Trails</ion-button>
        <ion-button routerLink="/tabs/places/camps">Camps</ion-button>
        <!-- <ion-button>Help</ion-button> -->

        <ng-container *ngIf="!(isAuthorized | async)">
          <ion-button (click)="openLoginModal()">Log in</ion-button>
          <ion-button class="signup" (click)="openRegisterModal()">Sign up</ion-button>
        </ng-container>
        <ng-container *ngIf="isAuthorized | async">
          <ion-button (click)="logOut()">Log out</ion-button>
        </ng-container>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>
